#!/bin/bash

# NVM root directory
export NVM_DIR="$HOME/.nvm"

# Go workspace
export GOPATH="/home/miguel/go"

# Make vim the default editor
export EDITOR="vim"

# Increase Bash history size to 32³ entries
export HISTSIZE=32678
export HISTFILESIZE=$HISTSIZE
# Omit duplicates or lines starting with space in the history.
export HISTCONTROL=ignoreboth