#!/bin/sh

# NVM root directory
export NVM_DIR="$HOME/.nvm"

# Go workspace
export GOPATH="$HOME/go"

# Make vim the default editor
export EDITOR="vim"

# Increase Bash history size to 32³ entries
export HISTSIZE=32678
export HISTFILESIZE=$HISTSIZE
# Omit duplicates or lines starting with space in the history.
export HISTCONTROL=ignoreboth

# pyenv exports
export PYENV_ROOT="$HOME/.pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init --path)"

# Flutter exports
export CHROME_EXECUTABLE="/usr/bin/brave-browser"